@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aqua;    
} */

.top-bar{
   display: flex;
   justify-content: right;
   justify-items: right;
   padding: 10px; 
   width: 100%; 
}
#home{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color:aqua;
    margin-right: 10px;
    padding: 10px;
    color: black;
}

#about{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color:aqua;
    margin-right: 10px;
    padding: 10px;
    color: black;    
}

#login{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color:aqua;
    margin-right: 50px;
    padding: 10px;   
    color: black;
}

#home:hover{
    background-color: white ;
    transition: 0.3s ease;
}

#about:hover{
    background-color: white ;
    transition: 0.3s ease;
}

#login:hover{
    background-color: white ;
    transition: 0.3s ease;
}

.heading{
    display: flex;
}

.welcome{
    margin-left: 15px;
    width: 25%;
}

 .title{
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* about */

.about-us{
    text-align: center;
}

h1{
    font-size: 50px;
   
}

p{
    font-size: 30px;
}

/* login */

body {
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
    background-color: aqua;
}
/* .SMS{
	text-align: center;
	max-width: 800px;
	border-radius: 20px;
	margin: auto;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
} */

input[type=text], input[type=password]{
	width: 400px;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted white;
	color: white;
	border-radius: 10px;
	margin: 5px;
	font-weight: bold;
}
input[type=submit]{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border: none;
	background-color: rgb(0,30,100);
	opacity: 0.8;
	border-radius: 20px;
	font-size: 20px;
	color: white;
}
input[type=submit]:hover{
	background-color: rgb(0, 255, 255);
    color: black;
	opacity: 0.8;
}
.user a{
	text-decoration: none;
	color: white;
	text-decoration: underline;

}
.user a:hover{
	color: lightblue;
}
.user h3{
	text-align: center;
	font-size: 30px;
}

.user{
    float: center;
	max-width: 450px;
	border-radius: 30px;
	margin: auto;
	background-color: rgb(0, 50, 67); 
    padding: 40px;
	color: white;
	margin-bottom: 50px;
}

.search-box{
    position:absolute;
    background: rgb(0, 50, 67);
    width: 28%;
    padding: 30px;
    margin-top: 60px;
    margin-left: 60px;
    border-radius: 30px;
}

#routes{
    position:absolute;
    right: 20px;
    background-color: rgb(0, 50, 67);
    width: 50%;
    height: 60%;
    padding: 30px;
    margin-top: 60px;
    margin-right: 60px;
    border-radius: 30px;
}

#travelling-from{
    background-color: white;
    color: black;
}

#travelling-to{
    background-color: white;
    color: black;
}

/* ::-webkit-datetime-edit { padding: 1px; }
::-webkit-datetime-edit-text { color: black; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: contents; }
::-webkit-calendar-picker-indicator { background: none; } */

.search-bus{
    font-size: 30px;
    color: white;
    margin-left: 5px;
}

#search-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#search{
    margin-left: 110px;
    width: 10em;
}

#date_picker{
    margin-left: 5px;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
}

#route{
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
}

#mt{
    text-decoration: none;
    background-color: rgb(0,30,100);
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 600px;
    margin-left: 235px;
    width: 120px;
}

#mt:hover{
    background-color: lightblue;
    color: black;
}

#display-bus{
    text-decoration: none;
    background-color: rgb(0,30,100);
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    position: absolute;
    top: 250px;
}

#display-bus:hover{
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

#add-bus{
    text-decoration: none;
    background-color: rgb(0,30,100);
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    position: absolute;
    top: 350px;}

#add-bus:hover{
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

.iframe{
    position: absolute;
    top: 170px;
    left: 250px;
    width: 1270px;
    height: 560px;
    outline: none;
    border: none;
}

#iframeRoutes{
    width: 770px;
    border: none;
    height: 400px;
}